
/*this is my css am not good in it,i will try next time*/
h1{ text-align: center;
    color:beige;
	font-family:arial;
	font-style:italic;
}
p{ 
    color:white;
	font-family:"courier",courier,monospace;
	font-style:normal;
	background-color:gray;
}
h2{ text-align:center;
	color:beige;
	font-family:arial;
	font-style:italic;

}
p{
    color:white;
	font-family:"courier",courier,monospace;
	font-style:normal;
	font-size: medium;
	background-color:gray;
}
h3{ text-align: center;
	color:beige;
	font-family:arial;
	font-style:italic;
}
p{  color:white;
	font-family:"courier",courier,monospace;
	font-style:normal;
	background-color:gray;
}
h4{
	text-align: center;
	color:;
	font-family:arial;
	font-style:italic;
}
p{
	color:white;
	font-family:"courier",courier,monospace;
	font-style:normal;
	background-color:gray;
}
p.monospace{
	color:white;
	font-family:"courier",courier,monospace;
	font-style:normal;
}